<p>2段階認証が取得できましたので、IATFシステム入室リンクをクリックして入室下さい:</p>
<p><a href="https://nys-web.net/verify/<%= @token %>">https://nys-web.net/verify/<%= @token %></a></p>

<p>ローカルのパソコンでDockerを起動しているときは、<br>
<a href="http://localhost:3000/verify/<%= @token %>">http://localhost:3000/verify/<%= @token %></a></p>

<p>IATFシステムの添付ファイルをダウンロードする時は、右のパスワードを入力してください: <%= @password %></p>