
<%= "Emailアドレス："%>
    <%= @user.email %> <br>
<%= "名前　　　　 ："%>
    <%= @user.name %> <br>
<%= "識別　　　　 ："%>
    <%= @user.role %> <br>


<div class="note-box">

<% correct_count = 0 %>
<% total_count = 0 %>
<% @touans.group_by { |touan| [touan.user_id, touan.created_at.change(usec: 0)] }.each do |(user_id, created_at), touans| %>
    <% total_count += touans.length %>
    <% i=1 %>

    <% touans.each do |touan| %>

      <!--
      <div class="rounded-md border border-gray-800 outline-none px-3 py-2 mt-2 bg-blue-600 bg-opacity-100">
      -->
     
      <!--
      <p class="rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 bg-blue-100 bg-opacity-100 " >ID:     <%= touan.id %></p>
      -->
      <p class="font-bold w-1/7 text-lg text-white rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 bg-blue-600" >問題:     <%= i %></p>

      <p class="w-auto rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 bg-blue-100 bg-opacity-100 " >箇条:     <%= touan.kajyou %></p>
      <p class="w-auto rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 bg-blue-100 bg-opacity-100" >問題:     <%= touan.mondai %></p>
      
      <div class="lg:flex space-x-4 ">
      <p class="w-1/3 rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 bg-blue-100" >問題ID:     <%= touan.mondai_no %></p>
      <p class="w-1/3 rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 bg-blue-100">出題回数: <%= touan.total_answers %></p>
      <p class="w-1/3 rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 bg-blue-100">正解数: <%= touan.correct_answers %></p>
      </div>

      <p class="w-auto rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 bg-blue-100 bg-opacity-100" >正解率: <%= "#{touan.seikairitsu.round(2)}%" %></p>
      
      <% if touan.seikai=="a" %>
          <p class="w-auto rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 bg-blue-100 bg-opacity-100">正解:      <%= touan.mondai_a %></p>
      <% elsif touan.seikai=="b" %>
          <p class="w-auto rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 bg-blue-100 bg-opacity-100">正解:      <%= touan.mondai_b %></p>
      <% else %>
          <p class="w-auto rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 bg-blue-100 bg-opacity-100">正解:      <%= touan.mondai_c %></p>
          
      <% end %>


      <% if touan.seikai == touan.kaito %>
      <% correct_count += 1 %>
      <% result="正解です" %>
      <p class="w-auto rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 bg-blue-300 bg-opacity-100"><%= @user.name %> さんの回答:      <%= touan.kaito %> でした。 <%= result %></p>

      <% else %>
      <% result="間違いです" %>
      <p class="w-auto rounded-md border border-gray-200 outline-none text-red-900 px-3 py-2 mt-2 bg-red-100 bg-opacity-100"><%= @user.name %> さんの回答:      <%= touan.kaito %> でした。 <%= result %></p>
      <% end %>
      
      <p class="w-auto rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 bg-blue-100 bg-opacity-100">解説:      <%= touan.kaisetsu %></p>

      <p class="w-auto rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 bg-blue-100 bg-opacity-100">参考URL:      <%= touan.rev %></p>

      
      <!--
      </div>
      -->

       <% i +=1 %>

      <br>
   
    <% end %>

<% end %>  

     <p>得点:      <%= sprintf("%.2f", correct_count.to_f / total_count * 100) %></p>

</div>


<%= link_to '戻る', index_touan_path, class: 'btn btn-accent' %>

<!--
【CSSカスタマイズ】ルーズリーフ風（ノート風）ボックス
https://sarubako.com/css-box-looseleaf/
-->

<style>
/***　ルーズリーフ風ボックス　***/
/*外枠の設定*/
.note-box {
   border: solid 2px #999; /*外枠の線*/
   padding: 0 1em 0 2em; /*内側の余白*/
   position: relative;
   width: 70%; /* 追加：外枠の幅を半分に */
   margin: 0 auto; /* 追加：左右の余白を自動調整してセンタリング */
}

/*文字、罫線の設定*/
.note-box p {
   border-bottom: dashed 1px #ccc; /*罫線*/
   line-height: 1.5; /*行の高さ*/
   padding: 0.5em 0 0.5em 0.5em; /*文字の位置*/
   margin:0;
}
.note-box p:last-of-type {
   border-bottom: none;
}

/*ドットの設定*/
.note-box::before {
   content: "";
   position: absolute;
   border-right: dotted 10px #ddd; /*ドットの大きさ、高さ*/
   height:90%;
   top:0.5em; /*位置*/
   left:0.5em; /*位置*/
}

</style>