

<% if @download_url %>
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">ファイルダウンロード認証成功</h1>
        <p>認証が取れました。下記Download Fileリンクをクリックしてください:</p>
        <br>
<%= link_to "Download File", @download_url, class: "text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg", data: { turbo: "false" } %> <!-- 追加 -->          
    </div>
  </div>
</section>

  <br>
<% elsif @document %>

  <section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">ファイルダウンロード</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">下記の Password欄に、mitsui.seimitsu.iatf16949@gmail.com から送信されたパスワードを入力し、Downloadボタンをクリックしてください</p>
      <!-- デバッグ用にセッションのパスワードを表示 -->
      <% if current_user.email == "yasuhiro-suzuki@mitsui-s.com" %>
        <p>あなたは、<%= current_user.email %>さんですね。</p> <!-- 追加 -->
        <p>デバッグ: ダウンロードパスワードは <strong><%= session[:download_password] %></strong> です。</p> <!-- 追加 -->
      <% end %>
    </div>
    </div>
    <div class="flex lg:w-2/3 w-full sm:flex-row flex-col mx-auto px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 items-end justify-start">
      <%= form_with url: product_verify_password_product_path(id: @document.id, blob_id: @document.blob.id), method: :post, local: true, data: { turbo: "false" } do |f| %>
        <%= f.label :password, "Password" %>
        <%= f.password_field :password, class: "w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" %>  
        <%= f.submit "Download", data: { turbo: "false" }, class: "text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" %>
      <% end %>
    </div>
  </div>
  </section>


<% else %>
  <p>パスワードが間違えてるか、ダウンロードするファイルが見つかりませんでした。</p>
<% end %>

<%= link_to '戻る', root_path, class: 'btn btn-accent' %>
