<% if @document %>
  <p>認証が取れました。下記Download Fileリンクをクリックしてください:</p>
  <%= link_to "Download File", download_product_path(id: @document.record.id, format: @document.blob.filename.extension), method: :post %>
  <br>
<% elsif @document %>
  <p>下記の Password欄に、mitsui.seimitsu.iatf16949@gmail.com から送信されたパスワードを入力し、Downloadボタンをクリックしてください:</p>
  <%= form_with url: product_verify_password_product_path(id: @document.id, blob_id: @document.blob.id), method: :post, local: true, data: { turbo: "false" } do |f| %>

    <%= f.label :password, "Password" %>
    <%= f.password_field :password %>
    <%= f.submit "Download", data: { turbo: "false" },class:"btn btn-sm" %>
  <% end %>
<% else %>
  <p>パスワードが間違えてるか、ダウンロードするファイルが見つかりませんでした。</p>
<% end %>

<%= link_to '戻る', root_path, class: 'btn btn-accent' %>
