<!-- app/views/memory_usage_mailer/send_memory_usage_with_success_message.html.erb -->

<p>アプリの現在のメモリ使用量: <%= @current_memory %> MB</p>
<p>過去1時間の最大メモリ使用量: <%= @max_memory %> MB</p>
<p>過去1時間の最小メモリ使用量: <%= @min_memory %> MB</p>
<p>過去1時間の平均メモリ使用量: <%= @avg_memory %> MB</p>
<p><%= @backup_message %></p>

<!-- StackProfの結果を表示 -->
<pre><%= @stackprof_results %></pre>

<!-- Estackprofの結果を表示 --> <!-- 追加 
<pre><%= @estackprof_results %></pre>
-->



