<!--
CSSだけで動くハンバーガーメニューを作成する
https://uedive.net/2021/5614/hamburger-menu-css/
-->

<!--
https://tailwindcss.com/docs/responsive-design

Breakpoint prefix	Minimum width	CSS
sm	640px	@media (min-width: 640px) { ... }
md	768px	@media (min-width: 768px) { ... }
lg	1024px	@media (min-width: 1024px) { ... }
xl	1280px	@media (min-width: 1280px) { ... }
2xl	1536px	@media (min-width: 1536px) { ... }
-->



<div class="text-xs lg:hidden">
    <div class="hamburger-menu">
        <input type="checkbox" id="menu-btn-check">
        <label for="menu-btn-check" class="menu-btn"><span></span></label>
        <!--ここからメニュー-->
        <div class="menu-content">
            <ul class="flex flex-wrap gap-0 lg:flex-col lg:gap-0">
                <li class="py-0 border-b-2">
                    <a> <%= link_to '新規製品登録', new_product_path, class: "py-0 text-gray-700 hover:text-indigo-600 text-md" %></a>
                </li>
                <li class="py-0 border-b-2">
                    <a><%= link_to '全アイテム進捗一覧表', index3_product_path, class: "py-0 text-gray-700 hover:text-indigo-600 text-md" %></a>
                </li>

                <li class="py-0 border-b-2">
                    <a><%= link_to '全アイテム日程表', index9_product_path, class: "py-0 text-gray-700 hover:text-indigo-600 text-md" %></a>
                </li>

                <li class="py-0 border-b-2"><a>
                        <%= form_with(url: index2_product_path, method: :get, local: true) do|form| %>
                        <%= form.label :"図番選択" %> 
                        <% @produc=Product.select(:partnumber).distinct.order(:partnumber) %>
                        <%= form.collection_select(:partnumber, @produc, :partnumber, :partnumber,{prompt: '選択してください',class:"hidden"})%> 
                        <%= form.submit "APQP・PPAP一覧表示 (図番毎)",class:"btn btn-sm"%>
                        <% end %>
                    </a></li>

                <li class="py-0 border-b-2"><a>
                        <%= form_with(url: index8_product_path, method: :get, local: true) do|form| %>
                        <%= form.label :"図番選択" %>
                        <% @produc=Product.select(:partnumber).distinct.order(:partnumber) %> 
                        <%= form.collection_select(:partnumber, @produc, :partnumber, :partnumber,{prompt: '選択してください',class:"hidden"})%> 
                        <%= form.submit "達成度 (図番毎)",class:"btn btn-sm"%>
                        <% end %>
                    </a></li>
                    <!--
                    #RailsでExcel出力しないといけなくなった時の対処法
                    #https://www.timedia.co.jp/tech/railsexcel/
                    -->

                    <li class="py-0 "><a>
                    <%= form_with(url: index4_product_path, method: :get, local: true) do|form| %>
                    <%= form.submit "IATF要求事項説明",class:"btn btn-secondary btn-sm" %>
                    <% end %>
                    </a></li>

                    <li class="py-0 "><a>
                    <%= form_with(url: graph_product_path, method: :get, local: true) do|form| %>
                    <%= form.submit "IATF進捗グラフ",class:"btn btn-secondary btn-sm" %>
                    <% end %>
                    </a></li>

                    <li class="py-0 "><a>
                    <%= form_with(url: calendar_product_path, method: :get, local: true) do|form| %>
                    <%= form.submit "IATF進捗カレンダー",class:"btn btn-secondary btn-sm" %>
                    <% end %>
                    </a></li>

                    <li class="py-0 "><a>
                    <%= form_with(url: training_product_path, method: :get, local: true) do|form| %>
                    <%= form.submit "IATF教材",class:"btn btn-secondary btn-sm" %>
                    <% end %>
                    </a></li>

                    <li class="py-0 "><a>
                    <%= link_to "Excel出力", xlsx_product_path(@product, format: :xlsx),class:"btn btn-secondary btn-sm" %>
                    </a></li>

                    <li class="py-1 border-b-2"><a>
                    <%= form_tag import_products_path, multipart: true do %>
                    <label class="mt-2 sm:mt-0 py-2 w-[500px] sm:w-[100px] h-10 border border-primary-300 bg-gray-100 bg-opacity-50 text-primary-300 rounded-[3px] text-xs flex justify-center items-center">
                    <span class="text-mg ml-5 mx-8"  style="width: 230px;">CSVファイル選択</span>
                    <%= file_field_tag :file , class: "hidden"%>
                    </label>

                    <%= submit_tag "インポート",class:"btn btn-secondary btn-sm"  %>
                    <% end %>
                    </a></li>

                    <li class="py-0 border-b-2"><a>
                    <%= form_with(url: iot_product_path, method: :get, local: true) do|form| %>
                    <%= form.submit "IOTデータ",class:"btn btn-secondary btn-sm" %>
                    <% end %>
                    </a></li>

                    <li class="py-0 border-b-2"><a>
                    <%= form_with(url: index_touan_path, method: :get, local: true) do|form| %>
                    <%= form.submit "IATF評価テスト",class:"btn btn-secondary btn-sm" %>
                    <% end %>
                    </a></li>

            </ul>
        </div>
        <!--ここまでメニュー-->
    </div>



</div>





<p id="notice"><%= notice %></p>

<!-- Header -->
<header class="sticky top-0 bg-white z-10">
  <!-- navbar and menu -->
  <nav class="shadow">

  <!-- IATF,Emai,検索バーを等間隔に並べる為のDiv -->
  <div class="flex flex-col items-end text-xs lg:flex lg:items-start lg:flex-row text-lg">

      <div class="hidden lg:flex">
        <h1 class="px-12 text-3xl font-bold bg-gradient-to-tr from-indigo-600 to-green-600 bg-clip-text text-transparent hover:cursor-pointer">IATF16949</h1>
      </div>
    
  
      <!--
      Devise 4.9をインストールしてRails 7.0 （Hotwire/Turbo）に対応する
      https://qiita.com/jnchito/items/20fad64ab162b2c49bb9

      Rails 7.0 + Ruby 3.1でゼロからアプリを作ってみたときにハマったところあれこれ
      https://qiita.com/jnchito/items/5c41a7031404c313da1f

      railsのdeviseでログアウトができず、Routing Errorになる
      https://teratail.com/questions/240677

      https://qiita.com/newburu/items/64f214d2f0fbc7a05d42
      https://qiita.com/newburu/items/64f214d2f0fbc7a05d42


      -->
    
        <div class="flex flex-col items-end text-xs lg:flex items-start lg:flex-row text-lg">
            <div class="lg:mr-4 ">

              <div class="hidden lg:block"><%= "Email："%>
                                       <%= @user.email %> <br>
              </div>
                                       <%= "名前 ："%>
                                       <%= @user.name %> <br>
              <div class="hidden lg:block"><%= "識別 ："%>
                                   <%= @user.role %> <br>
              </div>
              <div>
              <%= link_to 'サインアウト', destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>
              </div>   
                       
            </div>
        </div>

    
  
        <div>
    
            
            <%= search_form_for @q do |f| %>

              <ul class="flex space-x-4 items-center">

                <li><div class="text-gray-700 hover:text-indigo-600 text-xs lg:text-gray-700 hover:text-indigo-600 text-lg ">
                    <%= "図番" %> <br>
                    <%= f.collection_select :partnumber_eq, Product.select(:partnumber).distinct.order(:partnumber), :partnumber, :partnumber,  include_blank: '指定なし'  %>
                </div></li>

                <li><div class="text-gray-700 hover:text-indigo-600 text-xs lg:text-gray-700 hover:text-indigo-600 text-lg ">
                    <%= "材料コード" %> <br>
                    <%= f.collection_select :materialcode_eq, Product.select(:materialcode).distinct.order(:materialcode), :materialcode, :materialcode,  include_blank: '指定なし'  %>
                </div></li>

                <li><div class="text-gray-700 hover:text-indigo-600 text-xs lg:text-gray-700 hover:text-indigo-600 text-lg ">
                    <%= "文書名" %> <br>
                    <%= f.collection_select :documentname_eq, Product.select(:documentname).distinct.order(:documentname), :documentname, :documentname,  include_blank: '指定なし'  %>
                </div></li>

                <li><div class="text-gray-700 hover:text-indigo-600 text-xs lg:text-gray-700 hover:text-indigo-600 text-lg ">
                    <%= "コメント" %> <br>
                    <%= f.collection_select :description_eq, Product.select(:description).distinct.order(:description), :description, :description,  include_blank: '指定なし'  %>
                </div></li>

                <div class="hidden lg:block">
                   <%= f.submit '検索',class:"text-text-gray-600  py-2 hover:cursor-pointer px-4 rounded text-white bg-gradient-to-tr from-indigo-600 to-green-600 hover:shadow-lg" %>
                   <span><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor ">
                   <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                   </svg></span>
                </div>

              </ul>
            <% end %>
            
        </div>
    

  </div>
  </nav>
</header>

<main >
  <!-- section hero -->
 <section class="flex h-full">
  
    <div class="hidden lg:inline-block w-1/6 ">
            <div class="bg-white py-3 px-4 rounded-lg flex justify-around items-center ">
              <input type="text" placeholder="seach" class=" bg-gray-100 rounded-md  outline-none pl-2 ring-indigo-700 w-full mr-2 p-2">
              <span><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor ">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
              </svg></span>
            </div>

            <div class="bg-white  rounded-md ">
              <h1 class="text-center font-bold text-text-gray-600  py-2 hover:cursor-pointer px-4 rounded text-white bg-gradient-to-tr from-indigo-600 to-green-600 hover:shadow-lg">Menu</h1>
              <div class="bg-white rounded-md list-none  text-center ">
    
                    <li class="py-1 border-b-2"><a> 
                    <%= link_to '新規製品登録', new_product_path, class: "py-2 text-gray-700 hover:text-indigo-600 text-md" %>
                    </a></li>

                    <li class="py-1 border-b-2"><a>
                    <%= link_to '全アイテム進捗一覧表', index3_product_path, class: "py-2 text-gray-700 hover:text-indigo-600 text-md" %>
                    </a></li>

                    <li class="py-1 border-b-2"><a>
                    <%= link_to '全アイテム日程表', index9_product_path, class: "py-2 text-gray-700 hover:text-indigo-600 text-md" %>
                    </a></li>
             
                    <li class="py-1 border-b-2"><a>
                        <%= form_with(url: index2_product_path, method: :get, local: true) do|form| %>
                        <%= form.label :"図番選択" %> 
                        <% @produc=Product.select(:partnumber).distinct.order(:partnumber) %>
                        <%= form.collection_select(:partnumber, @produc, :partnumber, :partnumber,{prompt: '選択してください',class:"hidden"})%> 
                        <%= form.submit "APQP・PPAP一覧表示 (図番毎)",class:"btn btn-sm"%>
                        <% end %>
                    </a></li>

                    <li class="py-1 border-b-2"><a>
                        <%= form_with(url: index8_product_path, method: :get, local: true) do|form| %>
                        <%= form.label :"図番選択" %> 
                        <% @produc=Product.select(:partnumber).distinct.order(:partnumber) %> 
                        <%= form.collection_select(:partnumber, @produc, :partnumber, :partnumber,{prompt: '選択してください',class:"hidden"})%> <br>
                        <%= form.submit "達成度 (図番毎)",class:"btn btn-sm"%>
                        <% end %>                    
                    </a></li>
                    <!--
                     #RailsでExcel出力しないといけなくなった時の対処法
                     #https://www.timedia.co.jp/tech/railsexcel/
                    -->

                    <li class="py-1 border-b-2"><a>
                    <%= form_with(url: index4_product_path, method: :get, local: true) do|form| %>
                    <%= form.submit "IATF要求事項説明",class:"btn btn-secondary btn-sm" %>
                    <% end %>
                    </a></li>

                    <li class="py-1 border-b-2"><a>
                    <%= form_with(url: graph_product_path, method: :get, local: true) do|form| %>
                    <%= form.submit "IATF進捗グラフ",class:"btn btn-secondary btn-sm" %>
                    <% end %>
                    </a></li>

                    <li class="py-1 border-b-2"><a>
                    <%= form_with(url: calendar_product_path, method: :get, local: true) do|form| %>
                    <%= form.submit "IATF進捗カレンダー",class:"btn btn-secondary btn-sm" %>
                    <% end %>
                    </a></li>

                    <li class="py-1 border-b-2"><a>
                    <%= form_with(url: training_product_path, method: :get, local: true) do|form| %>
                    <%= form.submit "IATF教材",class:"btn btn-secondary btn-sm" %>
                    <% end %>
                    </a></li>

                    <!--
                    #RailsでAxlsxを使ってxlsxを生成
                    #https://qiita.com/necojackarc/items/0dbd672b2888c30c5a38
                    -->


                    <li class="py-1 border-b-2"><a>
                    <%= link_to "Excel出力", xlsx_product_path(@product, format: :xlsx),class:"btn btn-secondary btn-sm" %>
                    </a></li>

                    <!--
                    【Ruby on Rails】CSVインポート
                    https://qiita.com/seitarooodayo/items/c9d6955a12ca0b1fd1d4
                    -->

                    <li class="py-1 border-b-2"><a>
                    <%= form_tag import_products_path, multipart: true do %>
                    <label class="mt-2 sm:mt-0 py-2 w-[500px] sm:w-[212px] h-10 border border-primary-300 bg-gray-100 bg-opacity-50 text-primary-300 rounded-[3px] text-xs flex justify-center items-center">
                    <span class="text-mg ml-5 mx-8"  style="width: 200px;">CSVファイル選択</span>
                    <%= file_field_tag :file , class: "hidden"%>
                    </label>

                    <%= submit_tag "インポート",class:"btn btn-secondary btn-sm"  %>
                    <% end %>
                    </a></li>
                    

                    <li class="py-1 border-b-2"><a>
                    <%= form_with(url: iot_product_path, method: :get, local: true) do|form| %>
                    <%= form.submit "IOTデータ",class:"btn btn-secondary btn-sm" %>
                    <% end %>
                    </a></li>

                    <li class="py-1 border-b-2"><a>
                    <%= form_with(url: index_touan_path, method: :get, local: true) do|form| %>
                    <%= form.submit "IATF評価テスト",class:"btn btn-secondary btn-sm" %>
                    <% end %>
                    </a></li>

                    <li class="py-1 border-b-2"><a>
                    <%= form_with(url: index_suppliers_path, method: :get, local: true) do|form| %>
                    <%= form.submit "供給者リスト",class:"btn btn-secondary btn-sm" %>
                    <% end %>
                    </a></li>



      
                    <!--
                    <li class="py-2 "><a>
                    <%= form_with(url: process_design_download_path, method: :get, local: true) do|form| %>
                    <%= form.label :"図番選択" %> <br>
                    <% @produc=Product.select(:partnumber).distinct.order(:partnumber) %> 
                    <%= form.collection_select(:partnumber, @produc, :partnumber, :partnumber)%> <br>
                    <%= form.submit "製造工程設計計画/達成度報告書",class:"btn btn-secondary"%>
                    <% end %>
                    </a></li>
                    -->

                  </div>
              </div>
            </div> 
    </div>
    
    <div class="w-full lg:w-5/6 bg-blue-700 p-8 text-gray-600 rounded-lg ">

      <!--
      Border Spacing
      https://tailwindcss.com/docs/border-spacing
      -->

      <table  class="sticky_table table-striped table-hover border-separate border-spacing-1 border-2 border-blue-900 bg-gray-100">
        <thead>
              <tr>  
                  <th class="border-2 border-blue-900"><%= sort_link(@q, :partnumber, "図番") %></th>
                  <th class="border-2 border-blue-900"><%= sort_link(@q, :materialcode, "材料コード") %></th>
                  <th class="border-2 border-blue-900"><%= sort_link(@q, :documentname, "文書名") %></th>
                  <th class="border-2 border-blue-900"><%= sort_link(@q, :description, "詳細") %></th>
                  <th class="border-2 border-blue-900"><%= sort_link(@q, :category , "カテゴリー") %></th>
                  <th class="border-2 border-blue-900"><%= sort_link(@q, :phase, "フェーズ") %></th>
                  <th class="border-2 border-blue-900"><%= sort_link(@q, :stage, "項目") %></th>      
                  <th class="border-2 border-blue-900"><%= sort_link(@q, :start_time, "登録日") %></th>
                  <th class="border-2 border-blue-900"><%= sort_link(@q, :deadline_at, "完了予定日") %></th>
                  <th class="border-2 border-blue-900"><%= sort_link(@q, :end_at, "完了日") %></th>
                  <th class="border-2 border-blue-900"><%= sort_link(@q, :goal_attainment_level, "達成度(%)") %></th>
                  <th class="border-2 border-blue-900"><%= sort_link(@q, :status, "ステイタス") %></th>
                  <th colspan="3"></th>
                  <th>アイコン</th>
               
              </tr>
        </thead>
  
          <tbody>
            <% @products.each do |pro| %>
                   <tr>
                     <% if pro.partnumber=="" || pro.partnumber==nil %>
                         <td class="border-2 border-blue-900 "><%= "----" %></td>
                     <% else %>
                         <td class="border-2 border-blue-900 "><%= pro.partnumber %></td>
                     <% end %>
                     
                     <% if pro.materialcode=="" || pro.materialcode==nil  %>
                         <td class="border-2 border-blue-900 "><%= "----" %></td>
                     <% else %>
                         <td class="border-2 border-blue-900 "><%= pro.materialcode %></td>
                     <% end %>
 
                     <% if pro.documentname=="" || pro.documentname==nil  %>
                         <td class="border-2 border-blue-900 "><%= "----" %></td>
                     <% else %>
                         <td class="border-2 border-blue-900 "><%= pro.documentname %></td>
                     <% end %>
                     <% if pro.description=="" || pro.description==nil  %>
                         <td class="border-2 border-blue-900 "><%= "----" %></td>
                     <% else %>
                         <td class="border-2 border-blue-900 "><div class="line-clamp-3"><%= pro.description %></div></td>
                     <% end %>

                     <td class="border-2 border-blue-900 "><%= @dropdownlist[pro.category.to_i] %></td>
                     <td class="border-2 border-blue-900 "><div class="line-clamp-3"><%= @dropdownlist[pro.phase.to_i] %></div></td>
                     <!--
                     【Tailwind CSS】長い文字列を三点リーダー（…）で省略する方法
                      https://zenn.dev/ilove/articles/8a93705d396e05
                     -->
                     <td class="border-2 border-blue-900 "><div class="line-clamp-3"> <%= @dropdownlist[pro.stage.to_i] %></div></td>
                     <!--【初心者向け・動画付き】Railsで日時をフォーマットするときはstrftimeよりも、lメソッドを使おう
                     https://qiita.com/jnchito/items/831654253fb8a958ec25
                     -->

                     <!--
                     Tailwind CSS 縦書き対応 :writing-mode
                     https://tech-lab.sios.jp/archives/31882#:~:text=Tailwind%20CSS%20%E7%B8%A6%E6%9B%B8%E3%81%8D%E5%AF%BE%E5%BF%9C%20%3Awriting-mode%201%20%E4%BA%8B%E5%89%8D%E6%BA%96%E5%82%99%20Tailwind%20CSS%E3%81%AE%E7%92%B0%E5%A2%83%E6%A7%8B%E7%AF%89%E3%81%AF%E3%80%81,...%203%20Plugin%E3%81%A7%E8%A9%A6%E3%81%99%E7%B8%A6%E6%9B%B8%E3%81%8D%E5%AF%BE%E5%BF%9C%20%E3%81%93%E3%81%A1%E3%82%89%E3%81%AF%E3%80%81%E3%80%8Ctailwind.config.js%E3%80%8D%E3%81%AB%E8%BF%BD%E8%A8%98%E3%81%99%E3%82%8B%E3%81%93%E3%81%A8%E3%81%A7%E5%AE%9F%E7%8F%BE%E3%81%99%E3%82%8B%E3%81%93%E3%81%A8%E3%81%8C%E3%81%A7%E3%81%8D%E3%81%BE%E3%81%99%E3%80%82%20...%204%20%E7%B5%82%E3%82%8F%E3%82%8A%E3%81%AB%20
                     -->


                     <% if pro.start_time==nil %>
                           <td class="border-2 border-blue-900 "><div class="vertical-rl lg:horizontal-tb"><%= "------"  %></div></td>
                     <% else %>
                           <td class="border-2 border-blue-900 "><div class="vertical-rl lg:horizontal-tb"><%= pro.start_time.strftime('%y/%m/%d')  %></div></td>
                     <% end %>
                     <% if pro.deadline_at==nil %>
                           <td class="border-2 border-blue-900 "><div class="vertical-rl lg:horizontal-tb"><%= "------"  %></div></td>
                     <% else %>
                           <td class="border-2 border-blue-900 "><div class="vertical-rl lg:horizontal-tb"><%= pro.deadline_at.strftime('%y/%m/%d')  %></div></td>
                     <% end %>
                     <% if pro.end_at==nil %>
                           <td class="border-2 border-blue-900 "><div class="vertical-rl lg:horizontal-tb"><%= "------"  %></div></td>
                     <% else %>
                           <td class="border-2 border-blue-900 "><div class="vertical-rl lg:horizontal-tb"><%= pro.end_at.strftime('%y/%m/%d')  %></div></td>
                     <% end %>
                     
                     <td class="border-2 border-blue-900 "><%= pro.goal_attainment_level %></td>
                     <td class="border-2 border-blue-900 "><%= pro.status %></td>
                     <td class="inline-block"><div class="btn btn-accent btn-sm"><%= button_to '詳細表示', product_path(pro), { method: :get, params: pro }  %></div></td>
                     <td class="inline-block"><div class="btn btn-primary btn-sm"><%= button_to '編集', edit_product_path(pro), { method: :get, params: pro } %><div></td>
                     <!--https://katsushi-ougi.com/rails7-method-delete-->
                     <td class="inline-block"><div class="btn btn-secondary btn-sm"> <%= button_to '削除', pro, {method: :delete, data: { confirm: '本当に削除しますか？' } } %></div></td>
                     <!--https://y-i.jp/entry/rails7-form-data-confirm-->
                     <!--Rails7 で button_to の data-confirm の挙動が変わって data.confirm から form.data.confirm に変わってました
                     <td><%= button_to "削除", product_path(pro), { method: :delete, form: { data: { turbo_confirm: "本当に削除しますか？" } } } %></td>
                     -->
                     <td class="inline-block"><%= render partial: "attached_file", locals: { pro: pro }  %></td>
                   </tr>
              <% end %>
          <br>
        </tbody>
      </table>
      <br>
      <br>
      <br>
    </div>
  
 </section>
</main>




<style>

.sticky {
    position: sticky;
}



.menu-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    /*ボタンの背景色*/
    /*background-color: #3584bb;*/
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    /*ボタンの線の色*/
    background-color: #222;
    position: absolute;
    transition: all 300ms 0s ease;
}



.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}

#menu-btn-check {
    display: none;
}
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
    transition: all 300ms 0s ease;
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
    background-color: #ccc;
    transition: all 300ms 0s ease;
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
    background-color: #ccc;
    transition: all 300ms 0s ease;
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    top: -200%;
    z-index: 80;
    background-color: white;
    color: #222;
    transition: all 500ms 0s ease;
}

#menu-btn-check:checked ~ .menu-content {
    top: 0;/*メニューを画面内へ*/
}

.menu-content ul {
    padding: 70px 10px 0;
}
.menu-content ul li {
    border-bottom: solid 1px #ccc;
    list-style: none;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ccc;
    border-right: solid 2px #ccc;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}


/*---------------------------*/


